// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #1d3557;
$secondary : #5C5D8D;
$accent    : #a8dadc;

$dark      : #3D5A80;

$positive  : #74eda5;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

@import '~quasar-variables-styl'
