// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #ED8074;
$secondary : #5C5D8D;
$accent    : #E0A18E;

$dark      : #8D4D72;

$positive  : #74eda5;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

@import '~quasar-variables-styl'
