// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #000000;
$secondary : #5C5D8D;
$accent    : #ffffff;

$dark      : #000000;

$positive  : #74eda5;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

@import '~quasar-variables-styl'
