{% load static %}
<!doctype html>
<html lang="en" class="h-100">
	<head>
		<link rel="stylesheet" href="{% static 'src/dist/bootstrap/dist/css/bootstrap.css' %}">
		<link rel="icon" href="{% static 'src/dist/favicon.ico' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>NFT RARITY</title>
	</head>
	<body class='h-100'>
		
		{% block content %}		
		
		{% endblock %}
		<script type="text/javascript" src="{% static 'src/dist/js/chunk-vendors.js' %}"></script>
		<script type="text/javascript" src="{% static 'src/dist/js/app.js' %}"></script>         
	</body>
</html>