{% load static %}
<!doctype html>
<html lang="en" class="h-100">
	<head>
		<link rel="stylesheet" href="{% static 'src/dist/css/chunk-vendors.css' %}">
		<link rel="stylesheet" href="{% static 'src/dist/css/app.css' %}">
		<link rel="icon" href="{% static 'src/dist/favicon.ico' %}">
                <meta name="description" content="Scalable platform for displaying NFTs Ranked by Rarity">
		<meta name="keywords" content="nft, rarity, cnft"> 
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>NFT RARITY</title>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-RB8LF3TEQS"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-RB8LF3TEQS');
		</script>
	</head>
	<body class='h-100'>
		{% block content %}		
		
		{% endblock %}
		<script type="text/javascript" src="{% static 'src/dist/js/chunk-vendors.js' %}"></script>
		<script type="text/javascript" src="{% static 'src/dist/js/app.js' %}"></script>         
	</body>
</html>
